body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .77rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.23rem;
  color: rgb(0, 0, 0);
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 10% 0% 10%;
  background-image: url('./blue2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.Filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.Tracks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Search-results {
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .Tracks {
    align-items: center;
    flex-direction: column;
  }
}